body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.button-login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: auto;
    display: block;
}

.footer {
    margin-top: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}