{% extends 'tasks/base.html' %}
{% load static %}

{% block title %}Task Detail{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-80">
    <div class="card p-4 shadow container-bg centered-card">
        <h3 class="text-center mb-4">Task Detail</h3>
        <div class="form-group text-center">
            <label>Title</label>
            <p>{{ task.title }}</p>
        </div>
        <div class="form-group text-center">
            <label>Description</label>
            <p>{{ task.description }}</p>
        </div>
        <div class="form-group text-center">
            <label>User</label>
            <p>{{ task.user.username if task.user else 'Guest' }}</p>
        </div>
        <div class="form-group text-center">
            <label>Priority</label>
            <p>{{ task.get_priority_display }}</p>
        </div>
        <div class="form-group text-center">
            <label>Status</label>
            <p>{{ task.get_status_display }}</p>
        </div>
        <div class="form-group text-center">
            <label>Due Date</label>
            <p>{{ task.due_date }}</p>
        </div>
        <div class="form-group text-center">
            <label>Created At</label>
            <p>{{ task.created_at|date:"Y-m-d H:i" }}</p>
        </div>
        <div class="text-center">
            <a href="{% url 'edit_task' task.id %}" class="btn btn-warning btn-custom">Edit Task</a>
            <a href="{% url 'home' %}" class="btn btn-secondary btn-custom mt-2">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}